#login--box{
    margin-left:15%;
    margin-right:15%;
    margin-top: 30px;
}

#login--text{
    margin-bottom: 20px;
}

#login--buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

h1, h2{
    margin-top: 30px;
    text-align: center;
    font-size: 2em
}