.select, .input {
    margin-bottom: 10px
}

.container{
    width: 70%;
    margin-top: 15px;
    margin-bottom: 0
}

#save--profile--button{
    margin-bottom: 50px;
    margin-right: 15%;
    margin-left: 70%;
    margin-top: -20px;
}