#user--page--box{
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%
}

#main--profile{
    display: flex;
    flex-direction: row
}

#profile--picture{
    width: auto;
    height: 250px;
}

#user--page--buttons{
    margin-right: 10%;
    margin-left: 10%;
    display:flex;
    flex-direction: row;
    justify-content: space-between
}

/* #editUserPage{
    margin-left: 10%;
}

#logout{
    margin-right: 10%;
    margin-left: auto;
} */