#navbar{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
}

#logout{
    margin-right: 5px;
    margin-left: auto;
}

.nav--comp{
    margin-left: 5px
}

#discover, #profile, #likes, #matches{
    width: 25%;
    margin: 0;
}