.sender{
    color: lightblue;
    margin-right: 10%;
    margin-left: 20%;
    overflow-wrap: normal;
    text-align: right
}

.receiver{
    color: lightcoral;
    margin-left: 10%;
    margin-right:20%;
    overflow-wrap: normal;
    text-align: left;
}

#message--box{
    display: flex;
    flex-direction: row
}

#message--box, #chat--box{
    margin:0 5% 0 5%
}

#chat--box{
    max-height: 300px;
    overflow-y: scroll;
    display:flex;
    flex-direction: column-reverse;
}

#textbox, #chat--submit{
    display: inline-block
}

